<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Редактиране</title>
</head>

<body>
<div class="container">
    <h1>Редактиране на книга</h1>

    <div th:if="${book != null}">
        <form th:action="@{/editBook}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:name="id" th:value="${book.id}" />

            <div>
                <label for="bookName">Име на книга:</label>
                <input type="text" id="bookName" name="bookName" th:value="${book.bookName}" required />
            </div>

            <div>
                <label for="author">Автор:</label>
                <input type="text" id="author" name="author" th:value="${book.author}" required />
            </div>

            <div>
                <label for="genre">Жанр:</label>
                <input type="text" id="genre" name="genre" th:value="${book.genre}" required />
            </div>

            <div>
                <label for="bookDetails">Резюме:</label>
                <textarea id="bookDetails" name="bookDetails" required th:text="${book.bookDetails}"></textarea>
            </div>

            <div>
                <label for="cover">Корица:</label>
                <input type="file" id="cover" name="cover" />
                <div>
                    <img th:src="'data:image/jpeg;base64,' + ${book.coverBase64encoded}" alt="Book cover" />
                </div>
            </div>

            <div>
                <button type="submit">Запази</button>
            </div>
        </form>

        <a th:href="@{'/deleteBook/'+${book.id}}">Delete</a>
    </div>
</div>
</body>
</html>