<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:xmls="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Начало</title>

    <base href="/">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/books.css">
    </base>
</head>

<body>


<div class="topnav" id="myNav">
    <div>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/listUsers}">Потребители</a>
    </div>
    <div class="topnav-centered">
        <a th:href="@{/}"><h1>Име</h1></a>
    </div>

    <div class="topnav-right">
        <a sec:authorize="!isAuthenticated()" th:href="@{/register}">Регистрация</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Вход</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/profile}">Моят рофил</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Изход</a>
    </div>
</div>


<div class="center" >
    <h1>Книги</h1>
</div>

<form action="/books/restart" method="get">
    <button type="submit">Начало</button>
</form>

<form action="/books/sort" method="get">
    <label for="sortBy">Сортирай по:</label>
    <select name="sortBy" id="sortBy">
        <option value="title">Заглавие</option>
        <option value="author">Автор</option>
        <option value="genre">Жанр</option>
    </select>
    <button type="submit">Сортирай</button>
</form>

<form action="/books/filter" method="get">
    <label for="filterBy">Филтрирай по:</label>
    <select id="filterBy" name="filterBy">
        <option value="title">Заглавие</option>
        <option value="author">Автор</option>
        <option value="genre">Жанр</option>
    </select>
    <input type="text" id="filterText" name="filterText">
    <button type="submit">Филтрирай</button>
</form>


    <div class="center">
        <a class="buttons" sec:authorize="hasRole('ADMIN')" th:href="@{/addBook}">Добавяне</a>
    </div>


<form th:action="@{/random}" method="get">
    <button type="submit">Нека изберем за теб</button>
</form>

<div th:each="book : ${books}" class="book" th:onclick="'/books/' + ${book.id}">
    <img th:src="'data:image/jpeg;base64,' + ${book.coverBase64encoded}" alt="Book cover" />
    <!--    <img th:src="@{'data:image/png;base64,' + {book.base64EncodedCover()}}">-->
    <h2 th:text="${book.title}"></h2>
    <div class="book-info">
        <p th:text="${book.author}"></p>
        <p th:text="${book.genre}"></p>
    </div>
</div>

</body>

</html>