
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Потребители</title>
</head>
<body>
<h1>Потребители</h1>
<ul>
    <li th:each="user : ${users}">
        <span th:text="'ID: ' + ${user.id}"></span>,
        <span th:text="'Username: ' + ${user.username}"></span>,
        <span th:text="'Email: ' + ${user.email}"></span>,
        <span th:text="'Име: ' + ${user.name}"></span>,
        <span th:text="'Активен: ' + ${user.active}"></span>,
    </li>

</ul>
</body>
</html>